In [1]:
import pandas as pd

HR1 = pd.DataFrame({'이름':['장화','홍련'], 
                    '부서':['영업', '회계'], 
                    '직급':['팀장', '사원']})

HR2 = pd.DataFrame({'이름':['콩쥐','팥쥐'], 
                    '직급':['사원', '팀장'], 
                    '부서':['영업', '인사']})

pd.concat([HR1, HR2], axis=0)

   이름  부서  직급
0  장화  영업  팀장
1  홍련  회계  사원
0  콩쥐  영업  사원
1  팥쥐  인사  팀장

In [2]:
pd.concat([HR1, HR2], axis=0, ignore_index=True)

   이름  부서  직급
0  장화  영업  팀장
1  홍련  회계  사원
2  콩쥐  영업  사원
3  팥쥐  인사  팀장

In [3]:
HR3 = pd.DataFrame({'이름':['콩쥐','팥쥐'], 
                    '부서':['영업', '인사'], 
                    '급여':[3500, 2800]})
pd.concat([HR1, HR3], axis=0, ignore_index=True)

   이름  부서   직급      급여
0  장화  영업   팀장     NaN
1  홍련  회계   사원     NaN
2  콩쥐  영업  NaN  3500.0
3  팥쥐  인사  NaN  2800.0

In [4]:
HR4 = pd.Series({1: 2500}, name='급여')
pd.concat([HR1, HR4], axis=1)

   이름  부서  직급      급여
0  장화  영업  팀장     NaN
1  홍련  회계  사원  2500.0

In [5]:
HR5 = pd.DataFrame({'급여': [4500, 3000, 3500]})
pd.concat([HR1, HR5], axis=1)

    이름   부서   직급    급여
0   장화   영업   팀장  4500
1   홍련   회계   사원  3000
2  NaN  NaN  NaN  3500

In [6]:
product = pd.DataFrame({'상품코드':['G1', 'G2', 'G3', 'G4'], 
                        '상품명':['우유', '감자', '빵', '치킨']})
product

  상품코드 상품명
0   G1  우유
1   G2  감자
2   G3   빵
3   G4  치킨

In [7]:
sale = pd.DataFrame({'주문번호':[1001, 1002, 1002, 1003, 1004], 
                    '상품코드':['G4', 'G3', 'G1', 'G3', 'G5'], 
                    '주문수량':[1, 4, 2, 2, 3]})
sale

   주문번호 상품코드  주문수량
0  1001   G4     1
1  1002   G3     4
2  1002   G1     2
3  1003   G3     2
4  1004   G5     3

In [8]:
sale.merge(product, on = '상품코드', how='inner')

   주문번호 상품코드  주문수량 상품명
0  1001   G4     1  치킨
1  1002   G3     4   빵
2  1003   G3     2   빵
3  1002   G1     2  우유

In [9]:
sale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   주문번호    5 non-null      int64
 1   상품코드    5 non-null      object
 2   주문수량    5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

In [10]:
sale.merge(product, on = '상품코드', how='outer', sort=True)

     주문번호 상품코드  주문수량  상품명
0  1002.0   G1   2.0   우유
1     NaN   G2   NaN   감자
2  1002.0   G3   4.0    빵
3  1003.0   G3   2.0    빵
4  1001.0   G4   1.0   치킨
5  1004.0   G5   3.0  NaN

In [11]:
sale.merge(product, left_on = '상품코드', right_on = '상품코드', how='left')

   주문번호 상품코드  주문수량  상품명
0  1001   G4     1   치킨
1  1002   G3     4    빵
2  1002   G1     2   우유
3  1003   G3     2    빵
4  1004   G5     3  NaN